a.splink:link,a.splink:visited{
margin:0px;
padding:1px 2px 1px 2px;
border-top:solid 1px #cccccc;
border-right:solid 1px #033000;
border-bottom:solid 1px #033000;
border-left:solid 1px #cccccc;
display:block;
background:#ff0000;
color:#ffffff;
text-decoration:none;
font-size:12px;
}

a.splink:hover{
margin:0px;
padding:1px 2px 1px 2px;
border-top:solid 1px #111111;
border-right:solid 1px #dddddd;
border-bottom:solid 1px #dddddd;
border-left:solid 1px #111111;
display:block;
background:#0000ff;
color:#ffffff;
text-decoration:none;
font-size:12px;
}

td.nolink{
background:#999999;
padding:1px 2px 1px 2px;
font-size:12px;
border:2px solid #ffffff;
}
